@{
    ViewBag.Title = "Index";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">    
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Departments","Index","Department",new{area="Admin"},null)</li>
            <li>@Html.ActionLink("Categories", "Index", "Category", new { area = "Admin" }, null)</li>
            <li>@Ajax.ActionLink("Positions", "Positions", "Common",new AjaxOptions { UpdateTargetId = "content" })</li>
            <li>@Html.ActionLink("Grades", "Index", "Grade", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Roles", "Index", "Role", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Add user", "Create", "User", new { area = "" }, null)</li>
        </ul>
    </div>
</nav>
<div id="content">
    @if (ViewBag.Partial != null)
    {
        @Html.Partial(ViewBag.Partial as string,ViewBag.Data as object)
    }
</div>