@model HiQo.StaffManagement.Web.Core.Models.PositionViewModel


<div class="container">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("UpsertPosition", "Common", FormMethod.Post))
            {
                @Html.HiddenFor(pos => pos.CategoryId)
                <p>@Html.LabelFor(pos => pos.Name)</p>
                <p>@Html.EditorFor(pos => pos.Name, new {htmlAttributes = new {@class = "form-control"}})</p>
                <p>@Html.LabelFor(pos => pos.CategoryId, "Category")</p>
                <p>@Html.DropDownListFor(pos => pos.CategoryId, ViewBag.Categories as SelectList, new {@class = "form-control"})</p>
                <input type="submit" value="Save" class="btn btn-default"/>
            }
        </div>
    </div>
</div>
