@model IEnumerable<HiQo.StaffManagement.Domain.EntitiesDTO.UserDto>
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Index</h2>
    <table class="table">
        <thead>
            <tr>
                <td>FirstName</td>
                <td>LastName</td>
                <td>UserName</td>
                <td>DateOfBirth</td>
                <td>Department</td>
                <td>Category</td>
                <td>Position</td>
                <td>Grage</td>
                <td>Level</td>
                <td>Role</td>
            </tr>
        </thead>
        <tbody class="tab-content">
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.DateOfBirth.ToShortDateString()</td>
                    <td>@user.Department.Name</td>
                    <td>@user.Category.Name</td>
                    <td>@user.Position.Name</td>
                    <td>@user.Grade.Name</td>
                    <td>@user.Grade.Level</td>
                    <td>@user.Role.Name</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>