@model IEnumerable<HiQo.StaffManagement.Domain.EntitiesDTO.UserDto>
@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>
<table class="table">
    <thead>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>UserName</td>
            <td>Category</td>
            <td>Position</td>                
        </tr>
    </thead>
    <tbody class="tab-content">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.UserName</td>           
                <td>@user.Category.Name</td>
                <td>@user.Position.Name</td>
                <td><a class="btn btn-default" href="~/User/Profile/@user.UserId">Information &raquo;</a></td>
            </tr>
        }
    </tbody>
</table>
